# OSX
.DS_Store

### Node ###
# Logs
logs
*.log
npm-debug.log*


# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
build/

# Dependency directories
node_modules/
jspm_packages/

# NPM
package-lock.json

# Yarn
yarn.lock